/Coord.class
/IJeu.class
/Jeu2JoueursAPion.class
/Joueur.class
/Othello.class
/Pion.class
/PionDeuxCouleurs.class
/PionUneCouleur.class
/Plateau.class
/Puissance4.class
/Appli.class
/Couleurs.class
/Directions.class
/PionAPoser.class
